.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: black;
  color: white;
  text-decoration: none;
  transition-duration: 0.7s;
}

nav:hover{
  background-color: black;
}

.nav-links{
  margin-left: 30%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-item{
  margin: 0% 10%;
}

.myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

