.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  margin-left: 30%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-item{
  margin: 0% 10%;
}
